extends layout
include mixins/cards

block content
	input#starting_player(type='hidden')
	div#mainframe.clearfix
		div#helper_block
			div#top_helper_block
				div.life-block
					button(type='button', class='btn player2 lose-life update-life') -
					span(class='life-counter player2') 20
					button(type='button', class='btn player2 gain-life update-life') +
				div.message-receiver.player2 &nbsp;
				div.turn-block
					button(type='button', class='btn player2 turn-indicator') &nbsp;
			div#card_viewer_block
				mixin card_viewer_widget()
			div#bottom_helper_block
				div.life-block
					button(type='button', class='btn player1 lose-life update-life') -
					span(class='life-counter player1') 20
					button(type='button', class='btn player1 gain-life update-life') +
				div.message-receiver.player1 &nbsp;
				div.turn-block
					button(type='button', class='btn player1 turn-indicator') &nbsp;
		div#game_block.game-area
			div#top_game_block.player2.player-side
				div#top_handlogic.deck-and-hand.player2
					div#top_deck.deck-emplacement.player2
					div#top_hand.hand-emplacement.player2
				div#top_cemetery.cemetery-emplacement.player2
				div#top_game_zone.game-emplacement.player2
			div#bottom_game_block.player1.player-side
				div#bottom_cemetery.cemetery-emplacement.player1
				div#bottom_game_zone.game-emplacement.player1
				div#bottom_handlogic.deck-and-hand.player1
					div#bottom_deck.deck-emplacement.player1
					div#bottom_hand.hand-emplacement.player1


	// Modals
	div#start_game_modal.modal.hide.fade
		div.modal-header
			h3 Choose your deck
		div.modal-body
			select(id='deck_select')
				each deck in decks
					option(value=deck.id)= deck.name
		div.modal-footer
			button(type='button', class='btn btn-info', id='start_game') Choose

block contextual_js
	script(type='text/javascript', src='/javascripts/mtgnode/classes/Messager.js')
	script(type='text/javascript', src='/javascripts/mtgnode/classes/Deck.js')
	script(type='text/javascript', src='/javascripts/mtgnode/classes/Hand.js')
	script(type='text/javascript', src='/javascripts/mtgnode/classes/Game.js')
	script(type='text/javascript', src='/javascripts/mtgnode/classes/Helper.js')
	script(type='text/javascript', src='/javascripts/mtgnode/mtgnode_game_operator.js')
	script(type='text/javascript', src='/javascripts/mtgnode/mtgnode_game_kernel.js')
	script(type='text/javascript', src='/javascripts/plugins/shuffle.jquery.js')
	script(type='text/javascript', src='/javascripts/plugins/contextMenu/jquery.contextMenu.js')
	script(type="text/javascript")

		$(document).ready(function(){
			var kernel = new MTGNodeGameKernel();

			// Fix on unload
			//- $(window).bind('beforeunload', function(){
			//- 	return "Are you sure you want to quit the game?";
			//- });
		});