extends layout
include mixins/cards

block content
	div#mainframe.clearfix
		div#helper_block
			div#top_helper_block
				div#life_block
					button(type='button', class='btn player2 lose-life update-life') -
					span(class='life-counter player2') 20
					button(type='button', class='btn player2 gain-life update-life') +
			div#card_viewer_block
				mixin card_viewer_widget()
			div#bottom_helper_block
				div#life_block
					button(type='button', class='btn player1 lose-life update-life') -
					span(class='life-counter player1') 20
					button(type='button', class='btn player1 gain-life update-life') +
		div#game_block.game-area
			div#top_game_block.player2
				div#top_deck.deck-emplacement
				div#top_cemetery.cemetery-emplacement
			div#bottom_game_block.player1
				div#bottom_deck.deck-emplacement
				div#bottom_cemetery.cemetery-emplacement


	// Modals
	div#start_game_modal.modal.hide.fade
		div.modal-header
			h3 Choose your deck
		div.modal-body
			select(id='deck_select')
				each deck in decks
					option(value=deck.id)= deck.name
		div.modal-footer
			button(type='button', class='btn btn-info', id='start_game') Choose

block contextual_js
	script(type='text/javascript', src='/javascripts/mtgnode/mtgnode_game_kernel.js')
	script(type="text/javascript")
		$(document).ready(function(){
			var kernel = new MTGNodeGameKernel();
		});