!!!
html
  head
    title MTG Node

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", type="text/css", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/styles/mtgnode.css")

  body
    block body

    // Dom Constants
    block dom_constants

    //Modals
    block modals

    // Templates
    block templates

    // JS Imports
    script(type="text/javascript", src="/js/libs/socket.io.js")
    script(type="text/javascript", src="/js/libs/sails.io.js")
    script(type="text/javascript", src="/js/libs/app.js")
    script(type="text/javascript", src="/js/libs/jquery.min.js")
    script(type="text/javascript", src="/js/libs/bootstrap.min.js")
    script(type="text/javascript", src="/js/libs/domino.min.js")
    script(type="text/javascript", src="/js/libs/mustache.min.js")
    script(type="text/javascript", src="/js/libs/lodash.min.js")

    // Contextual Js
    block contextual_js