doctype html
html
  head
  title MTG Node

  //- Viewport mobile tag for sensible mobile support
  meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="stylesheet", type="text/css", href="/js/bower/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", type="text/css", href="/styles/mtgnode.css")

  body
    block body

    // Modals
    block modals

    // Context Menus
    block context_menus

    // Templates
    block templates

    // JS Globals
    block global_js

    // JS Imports
    script(type="text/javascript", src="/js/bower/socket.io-client/dist/socket.io.min.js")
    script(type="text/javascript", src="/js/sails.io.js")
    script(type="text/javascript", src="/js/bower/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/js/bower/jquery-ui/ui/minified/jquery-ui.min.js")
    script(type="text/javascript", src="/js/bower/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/bower/domino/build/domino.min.js")
    script(type="text/javascript", src="/js/bower/handlebars/handlebars.min.js")
    script(type="text/javascript", src="/js/bower/lodash/dist/lodash.min.js")
    script(type="text/javascript", src="/js/src/generic/utilities.js")
    script(type="text/javascript", src="/js/src/mtgnode.js")

    // Contextual Js
    block contextual_js
