doctype 5
html
	head
		title MTG Node

		// Css Imports
		link(rel='stylesheet/less', href='/stylesheets/mtgnode/mtgnode.less')
		script(type='text/javascript')
			less = { env: 'development' };
		script(type='text/javascript', src='/javascripts/less/less.min.js')
	body
		// DOM Constants

		// Main Block
		block content

		// Javascript Imports
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
		script(type='text/javascript', src='/javascripts/jquery-ui/jquery-ui.min.js')
		script(type='text/javascript', src='/javascripts/bootstrap/bootstrap.min.js')
		block contextual_js