extends layout

block content
	div#mainframe
		p Welcome to MTGNode
		input(type='text', placeholder='Username', id='username')
		br
		input(type='password', placeholder='Password', id='password')
		br
		button(type='button', class='btn', id='connect') Connect
		br
		button(type='button', class='btn override-connect', user='Yomgui', password='nifluril') Connect as Yomgui
		br
		button(type='button', class='btn override-connect', user='Nibor', password='nifluril') Connect as Nibor

block contextual_js
	script(type='text/javascript')
		$(document).ready(function(){

			// Connection
			$("#connect").click(function(){
				var username = $("#username").val();
				var password = $("#password").val();

				$.post('/ajax/login_attempt', {'username' : username, 'password' : password}, function(data, status){
					if(data == 'fail'){
						alert('wrong id');
					}
					else{
						location.href= '/lobby';
					}
				});
			});

			$('.override-connect').click(function(){
				var username = $(this).attr('user');
				var password = $(this).attr('password');

				$.post('/ajax/login_attempt', {'username' : username, 'password' : password}, function(data, status){
					if(data == 'fail'){
						alert('wrong id');
					}
					else{
						location.href= '/lobby';
					}
				});

			});
		});