// Card Display Templates

mixin deckBuilderCardTemplate()
	script#tpl_card(type='text/html')
		img.card-min-deckbuilder(id='{{id_prefix}}_{{number}}', index="{{number}}", src='{{src}}', multiverseid='{{multiverseid}}')

mixin playgroundCardTemplate()
	script#tpl_card(type='text/html')
		img.card-min

mixin dummyCardTemplate()
	script#tpl_dummy_card(type='text/html')
		img.card-min.card-dummy(src='/images/card-back.jpeg')