// Card Display Templates

mixin deckBuilderCardTemplate()
	script#tpl_card(type='text/html')
		img.card-min-deckbuilder(id='{{id_prefix}}_{{number}}', index="{{number}}", src='{{src}}', multiverseid='{{multiverseid}}')

mixin playgroundCardTemplate()
	script#tpl_card(type='text/html')
		div(id='{{id_prefix}}_{{number}}', side='{{side}}', number='{{number}}', class='{{side}} card-min draggable in-hand flipped {{type}}')
			img(src='/images/card-back.jpeg', class='back-side {{side}}')
			img(src='{{src}}', class='front-side {{side}}')

mixin dummyCardTemplate()
	script#tpl_dummy_card(type='text/html')
		div(class='card-min card-dummy flipped {{side}}')
			img(src='/images/card-back.jpeg', class='back-side {{side}}')
			img(index="{{number}}", src='{{src}}', class='front-side {{side}}')
