extends ../layout

block body
  div#mainframe
    p Welcome to MTGNode
    div.alert.alert-error.hide
        button.close(data-dismiss='alert') &times;
        strong Unauthorized Attempt!
    button.btn.btn-default.override-connect(type='button', username='Yomgui', password='test') Connect as Yomgui
    br
    button.btn.btn-default.override-connect(type='button', username='Nibor', password='test') Connect as Nibor
    br
    button.btn.btn-default.override-connect(type='button', username='Starla', password='test') Connect as Starla
block contextual_js
    script(type="text/javascript", src="/js/mtgnode/simple/Login.js")