//- Contextual Menus

mixin battlefield_context_menu()
  div#battlefield_context_menu.dropdown.clearfix.context-menu
    ul.dropdown-menu(role='menu', aria-labelledby='battlefield_context_menu', style='display:block; position:static; margin-bottom:5px;')
      li
        a(data-action='untapAll', href='#', tabindex='-1') Untap all

mixin library_context_menu()
  div#library_context_menu.dropdown.clearfix.context-menu
    ul.dropdown-menu(role='menu', aria-labelledby='library_context_menu', style='display:block; position:static; margin-bottom:5px;')
      li
        a(data-action='drawHand', href='#', tabindex='-1') Draw full hand
      //- li
      //-   a(data-action='searchCards', href='#', tabindex='-1') Search cards
      li
        a(data-action='shuffle', href='#', tabindex='-1') Shuffle

mixin graveyard_context_menu()
  div#graveyard_context_menu.dropdown.clearfix.context-menu
    ul.dropdown-menu(role='menu', aria-labelledby='graveyard_context_menu', style='display:block; position:static; margin-bottom:5px;')
      li
        a(data-action='searchCards', href='#', tabindex='-1') Search cards

mixin exile_context_menu()
  div#exile_context_menu.dropdown.clearfix.context-menu
    ul.dropdown-menu(role='menu', aria-labelledby='exile_context_menu', style='display:block; position:static; margin-bottom:5px;')
      li
        a(data-action='searchCards', href='#', tabindex='-1') Search cards

mixin hand_context_menu()
  div#hand_context_menu.dropdown.clearfix.context-menu
    ul.dropdown-menu(role='menu', aria-labelledby='hand_context_menu', style='display:block; position:static; margin-bottom:5px;')
      li
        a(data-action='revealHand', href='#', tabindex='-1') Reveal hand
